<div class="container mt-4">
    <h2>Usuarios</h2>
    <table *ngIf="users.length > 0" class="table table-striped">
    <thead class="table-dark">
        <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Mail</th>
        <th scope="col">DNI</th>
        <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dni }}</td>
        <td>{{ user.phone }}</td>
        <td><div class="d-flex flex-row gap-2 align-items-center"><button (click)="deleteCompany(user.id!)" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> <span class="d-none d-md-inline-flex ps-2">Eliminar</span></button></div></td>
        </tr>
    </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" href="#" role="button"><i class="bi bi-plus-lg"></i> Añadir empresa</a>
    </div>
</div>
