<!-- Sección de Portada -->
<section class="container-fluid bg-primary text-white text-center py-5">
  <div class="d-flex justify-content-center align-items-center flex-column" style="height: 50vh;">
    <!-- Texto grande -->
    <h1 class="display-3 fade-in" id="title">Guerola's 3D</h1>
    <!-- Subtítulo -->
    <h3 class="fade-in" id="subtitle">Web Angular</h3>
    <!-- Firma -->
    <p class="fade-in" id="signature">
      Web diseñada en Angular por Francisco Javier Marín Álvarez, José Antonio Varona Rubio y Antonio Guerola Crespo.
    </p>
  </div>
</section>

<!-- Sección de Características -->
<section class="container mt-5">
  <div class="row">
    <!-- Bloque 1 -->
    <div class="col-md-4 text-center mb-4">
      <div class="icon-container mb-3">
        <i class="bi bi-building text-primary" style="font-size: 4rem"></i>
      </div>
      <h3>Gestión de Modelos</h3>
      <p>
        Permite gestionar el listado de modelos que ofrecen nuestra web.
      </p>
    </div>

    <!-- Bloque 2 -->
    <div class="col-md-4 text-center mb-4">
      <div class="icon-container mb-3">
        <i class="bi bi-person-circle text-primary" style="font-size: 4rem"></i>
      </div>
      <h3>Gestión de Usuarios</h3>
      <p>
        Facilita el registro de usuarios que se encuentran en nuestra web.
      </p>
    </div>

    <!-- Bloque 3 -->
    <div class="col-md-4 text-center mb-4">
      <div class="icon-container mb-3">
        <i class="bi bi-gear-wide-connected text-primary" style="font-size: 4rem"></i>
      </div>
      <h3>Control de Modelos</h3>
      <p>
        Permite añadir, modificar y eliminar modelos de nuestra web.
      </p>
    </div>
  </div>
</section>
